{% extends 'base.html' %}

{% block title %}Вход | {{block.super}}{% endblock title %}

{% block content %}
<div class="row mt-5">
    <div class="col-12 col-md-8 mx-auto">
        <div class="shadow p-5">
            <h2>Вход</h2>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{next}}" name="next">
                {% for field in form %}
                <label for="{{field.id_for_label}}" class="mt-2 mb-0"><small>{{field.label}}</small></label>
                {{ field }}
                {{field.errors}}
                {% endfor %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <small>{{error}}</small>
                </div>
                {% endfor %}
                {% endif %}
                <input type="submit" class="btn btn-outline-primary btn-block mt-3" value="Вход">
                <p class="text-center"><small>Нет аккаунта? <a href="{% url 'a-signup' %}">Создайте</a></small></p>
            </form>

        </div>
    </div>
</div>
{% endblock content %}